<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">



    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.25&key=AIzaSyD6V6kE58QNwqH5Xr8in0ovwlDFHZEAygk&sensor=false&libraries=places"></script>
    <script type="application/javascript" src="lib/ng-map.min.js"></script>
    <script src="lib/autocom.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="ctsCrt"> 
      <ion-content>

            <ng-map zoom="18" center="{{currentCenter}}" draggable="true" disable-default-u-i="true" default-style="false"  min-zoom="5" >
                   <marker position="{{current-location}}" icon="{url:'img/my-location-icon.png'}" ></marker>
                   <marker position="44.031577, 20.942255" ng-click="showDetail()" icon="{url:'img/1.png'}" ></marker>
                   <directions
                    draggable="false"
                    travel-mode="DRIVING"
                    origin="current-location"
                    destination="Nis, Serbia">
                  </directions>

                  <info-window id="vremeInfoWindow">
                                 <div ng-non-bindable="">
                                    Brzina : 0 km/h
                                 </div>
                             </info-window>
              </ng-map>          
      </ion-content>
    </ion-pane>
  </body>
</html>
